<body style="background-image: url('../image/bg.jpg'); background-size: cover; background-repeat: no-repeat; text-align:center; padding-top:90px; ">
    <div class="container-fluid" style="background-color: darkblue;">
        <div class="btn pl-5">
            <button type="button" onclick="location.href='@Url.Action("GetAllPump", "Report")'" class="btn btn-primary btn-lg mr-4">Dhaka WASA</button>
            <button type="button" class="btn btn-primary btn-lg mr-4">Chattogram WASA</button>
            <button type="button" class="btn btn-primary btn-lg mr-4">Ragshahi WASA</button>
            <button type="button" class="btn btn-primary btn-lg mr-4">Khulna WASA</button>

        </div>
    </div>
    </body>
