<body style="background-image: url('../image/bg.jpg'); background-size: cover; background-repeat: no-repeat; text-align:center; padding-top:100px; ">
    <div class="container-fluid">
        <div class="btn pl-5">
                <button type="button" onclick="location.href='@Url.Action("GetWasaReport", "Report")'" class="btn btn-primary">Dhaka WASA</button>
                <button type="button" class="btn btn-secondary">Chattogram WASA</button>
                <button type="button" class="btn btn-success">Ragshahi WASA</button>
                <button type="button" class="btn btn-danger">Khulna WASA</button>

        </div>
    </div>
    </body>
