<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>Sidebar template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="~/css/dashboard.css" rel="stylesheet" />
</head>

<body>
    <div class="row">
        <div class="col-md-2">
            <div class="page-wrapper chiller-theme toggled">
                <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
                    <i class="fas fa-bars"></i>
                </a>
                <nav id="sidebar" class="sidebar-wrapper">
                    <div class="sidebar-content">
                        <div class="sidebar-brand">
                            <a href="#">DWASA</a>
                            <div id="close-sidebar">
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                        <div class="sidebar-header">
                            <div class="user-pic">
                                <img class="img-responsive img-rounded" src="~/image/Afsana.jpg"
                                     alt="User picture">
                            </div>
                            <div class="user-info">
                                <span class="user-name">
                                    <strong>sana Sultana</strong>
                                </span>
                                <span class="user-role">Administrator</span>
                                <span class="user-status">
                                    <i class="fa fa-circle"></i>
                                    <span>Online</span>
                                </span>
                            </div>
                        </div>
                        <!-- sidebar-header  -->
                        <div class="sidebar-search">
                            <div>
                                <div class="input-group">
                                    <input type="text" class="form-control search-menu" placeholder="Search...">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- sidebar-search  -->
                        <div class="sidebar-menu">
                            <ul>
                                <li class="sidebar-dropdown">
                                    <a href="#">
                                        <i class="fa fa-tachometer-alt"></i>
                                        <span>Pump House</span>
                                        <span class="badge badge-pill badge-warning">New</span>
                                    </a>
                                    <div class="sidebar-submenu">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    Home
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">Alarm</a>
                                            </li>
                                            <li>
                                                <a href="#">Report</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="">
                                    <a href="#">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Control Panel</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#">
                                        <i class="far fa-gem"></i>
                                        <span>Hydrological Data</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#">
                                        <i class="fa fa-chart-line"></i>
                                        <span>Electrical Data</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#">
                                        <i class="fa fa-globe"></i>
                                        <span>Pump House Data</span>
                                    </a>
                                </li>
                                <li class="header-menu">
                                    <span>Extra</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-calendar"></i>
                                        <span>Calendar</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-folder"></i>
                                        <span>Examples</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                 </div>
                 </div>
                </nav>
            <!-- sidebar-wrapper  -->
          <div class="col-md-10 pl-5 pt-2">
              <div class="container-fluid">
                  <h2>Dashboard</h2>
                  <hr />
                  <div class="row pl-3">

                      <div class="card col-md-4" style="width: 18rem;">
                          <img class="card-img-top" src="~/image/card1.png" alt="Card image cap">
                          <div class="card-body">
                          </div>
                      </div>

                      <div class="card col-md-4 ml-3" style="width: 18rem;">
                          <img class="card-img-top" src="~/image/card2.png" alt="Card image cap">
                          <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                      </div>

                      <div class="card col-md-3 ml-3" style="width: 18rem;">
                          <img class="card-img-top" src="~/image/card3.png" alt="Card image cap">
                          <div class="card-body">
                           <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                      </div>
                  </div>

                  <div class="row pl-3 pt-4">
                      <div class="card col-md-4" style="width: 18rem;">
                          <img class="card-img-top" src="..." alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                      </div>

                      <div class="card col-md-4 ml-3" style="width: 18rem;">
                          <img class="card-img-top" src="..." alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                      </div>

                      <div class="card col-md-3 ml-3" style="width: 18rem;">
                          <img class="card-img-top" src="..." alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                      </div>
                  </div>



              </div>

          </div>
        
    
    </div>
    <!-- page-wrapper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
            if (
                $(this)
                    .parent()
                    .hasClass("active")
            ) {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .parent()
                    .removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .next(".sidebar-submenu")
                    .slideDown(200);
                $(this)
                    .parent()
                    .addClass("active");
            }
        });

        $("#close-sidebar").click(function () {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function () {
            $(".page-wrapper").addClass("toggled");
        });

    </script>

</body>

</html>