<div>
    <div class="row">
        <div class="col-md-2">
            <h1> This is nav </h1>
        </div>
        <div class="col-md-10 ml-10">
            <h1> this is main body</h1>
        </div>

    </div>
</div>






