@model WASA.Models.UserModel

<html>

<head>
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form asp-action="ProcessLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="UserName" class="form-control" placeholder="UserName" required="required" />
            <input asp-for="password" class="form-control" type="password" placeholder="password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
        </form>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
