@model WASA.Models.UserModel

<html>

<head>
    <div style="background-color: cornflowerblue;">

        <style>
            img {
                float: left;
                padding-left: 580px;
                padding-top: 7px;
            }

            h2 {
                padding-bottom: 40px;
                padding-top: 65px;
            }
        </style>
        <img src="~/image/logo.png" />
        <h2>DWASA</h2>
    </div>
    <link href="~/css/index.css" rel="stylesheet" />
</head>

<body>
    <div class="login">
        <h1>Login</h1>
        <form asp-action="ProcessLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="UserName" class="form-control" placeholder="UserName" required="required" />
            <input asp-for="password" class="form-control" type="password" placeholder="password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
        </form>
    </div>
    <div style="margin-top: 450px; background-color: cornflowerblue;">
        <footer class="w3-container w3-padding-16 w3-cornflowerblue" style="text-align:center; padding-bottom:10px; padding-top:10px;">
            <p style="margin-top:7px;">All copy right reserved to<a href="http://sysconsolution.com/" target="_blank"> sysconsolution.com</a></p>
        </footer>
    </div>
</body>


</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
